src/RequisicaoAX.Dynamics.Services/Connected Services/HcmWorker/HcmWorkerImportServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HcmWorkerImportServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_HcmWorkerImportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/dynamics/2008/01/services" location="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_HcmWorkerImportService" type="i0:HcmWorkerImportService">
    <wsp:PolicyReference URI="#NetTcpBinding_HcmWorkerImportService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="readAsOf">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/readAsOf" style="document" />
      <wsdl:input name="HcmWorkerImportServiceReadAsOfRequest">
        <soap12:header message="i0:HcmWorkerImportServiceReadAsOfRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceReadAsOfResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/read" style="document" />
      <wsdl:input name="HcmWorkerImportServiceReadRequest">
        <soap12:header message="i0:HcmWorkerImportServiceReadRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceReadResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/find" style="document" />
      <wsdl:input name="HcmWorkerImportServiceFindRequest">
        <soap12:header message="i0:HcmWorkerImportServiceFindRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceFindResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findKeysAsOf">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeysAsOf" style="document" />
      <wsdl:input name="HcmWorkerImportServiceFindKeysAsOfRequest">
        <soap12:header message="i0:HcmWorkerImportServiceFindKeysAsOfRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceFindKeysAsOfResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/update" style="document" />
      <wsdl:input name="HcmWorkerImportServiceUpdateRequest">
        <soap12:header message="i0:HcmWorkerImportServiceUpdateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceUpdateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAsOf">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findAsOf" style="document" />
      <wsdl:input name="HcmWorkerImportServiceFindAsOfRequest">
        <soap12:header message="i0:HcmWorkerImportServiceFindAsOfRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceFindAsOfResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getChangedKeys" style="document" />
      <wsdl:input name="HcmWorkerImportServiceGetChangedKeysRequest">
        <soap12:header message="i0:HcmWorkerImportServiceGetChangedKeysRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceGetChangedKeysResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/create" style="document" />
      <wsdl:input name="HcmWorkerImportServiceCreateRequest">
        <soap12:header message="i0:HcmWorkerImportServiceCreateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceCreateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeys" style="document" />
      <wsdl:input name="HcmWorkerImportServiceFindKeysRequest">
        <soap12:header message="i0:HcmWorkerImportServiceFindKeysRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceFindKeysResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getKeys" style="document" />
      <wsdl:input name="HcmWorkerImportServiceGetKeysRequest">
        <soap12:header message="i0:HcmWorkerImportServiceGetKeysRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HcmWorkerImportServiceGetKeysResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HcmWorkerImportServices">
    <wsdl:port name="NetTcpBinding_HcmWorkerImportService" binding="tns:NetTcpBinding_HcmWorkerImportService">
      <soap12:address location="net.tcp://saxdev:8201/DynamicsAx/Services/HcmWorkerImportServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://saxdev:8201/DynamicsAx/Services/HcmWorkerImportServices</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>svc.aos@cardexpress.corp</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>