src/RequisicaoAX.Dynamics/Connected Services/HcmWorker/HcmWorkerImportServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services/Imports">
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/services" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd12" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd14" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd2" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/HcmWorkerImport" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/HcmWorkerImportServices?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HcmWorkerImportServiceReadAsOfRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceReadAsOfRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceReadAsOfRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceReadAsOfResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceReadAsOfResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_readAsOf_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceReadRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceReadRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceReadResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindKeysAsOfRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindKeysAsOfRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindKeysAsOfRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindKeysAsOfResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindKeysAsOfResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_findKeysAsOf_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindAsOfRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindAsOfRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindAsOfRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindAsOfResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindAsOfResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_findAsOf_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceGetChangedKeysRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceGetChangedKeysRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceGetChangedKeysRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceGetChangedKeysResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceGetChangedKeysResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_getChangedKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceCreateRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceGetKeysRequest">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceGetKeysRequest" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceGetKeysRequest_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportServiceGetKeysResponse">
    <wsdl:part name="parameters" element="tns:HcmWorkerImportServiceGetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="HcmWorkerImportService_getKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q20:AifFault" />
  </wsdl:message>
  <wsdl:portType name="HcmWorkerImportService">
    <wsdl:operation name="readAsOf">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/readAsOf" name="HcmWorkerImportServiceReadAsOfRequest" message="tns:HcmWorkerImportServiceReadAsOfRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/readAsOfResponse" name="HcmWorkerImportServiceReadAsOfResponse" message="tns:HcmWorkerImportServiceReadAsOfResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/readAsOfAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_readAsOf_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/read" name="HcmWorkerImportServiceReadRequest" message="tns:HcmWorkerImportServiceReadRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/readResponse" name="HcmWorkerImportServiceReadResponse" message="tns:HcmWorkerImportServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/readAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/find" name="HcmWorkerImportServiceFindRequest" message="tns:HcmWorkerImportServiceFindRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findResponse" name="HcmWorkerImportServiceFindResponse" message="tns:HcmWorkerImportServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeysAsOf">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeysAsOf" name="HcmWorkerImportServiceFindKeysAsOfRequest" message="tns:HcmWorkerImportServiceFindKeysAsOfRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeysAsOfResponse" name="HcmWorkerImportServiceFindKeysAsOfResponse" message="tns:HcmWorkerImportServiceFindKeysAsOfResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeysAsOfAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_findKeysAsOf_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/update" name="HcmWorkerImportServiceUpdateRequest" message="tns:HcmWorkerImportServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/updateResponse" name="HcmWorkerImportServiceUpdateResponse" message="tns:HcmWorkerImportServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/updateAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAsOf">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findAsOf" name="HcmWorkerImportServiceFindAsOfRequest" message="tns:HcmWorkerImportServiceFindAsOfRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findAsOfResponse" name="HcmWorkerImportServiceFindAsOfResponse" message="tns:HcmWorkerImportServiceFindAsOfResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findAsOfAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_findAsOf_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getChangedKeys" name="HcmWorkerImportServiceGetChangedKeysRequest" message="tns:HcmWorkerImportServiceGetChangedKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getChangedKeysResponse" name="HcmWorkerImportServiceGetChangedKeysResponse" message="tns:HcmWorkerImportServiceGetChangedKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getChangedKeysAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_getChangedKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/create" name="HcmWorkerImportServiceCreateRequest" message="tns:HcmWorkerImportServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/createResponse" name="HcmWorkerImportServiceCreateResponse" message="tns:HcmWorkerImportServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/createAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeys" name="HcmWorkerImportServiceFindKeysRequest" message="tns:HcmWorkerImportServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeysResponse" name="HcmWorkerImportServiceFindKeysResponse" message="tns:HcmWorkerImportServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/findKeysAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getKeys" name="HcmWorkerImportServiceGetKeysRequest" message="tns:HcmWorkerImportServiceGetKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getKeysResponse" name="HcmWorkerImportServiceGetKeysResponse" message="tns:HcmWorkerImportServiceGetKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/HcmWorkerImportService/getKeysAifFaultFault" name="AifFaultFault" message="tns:HcmWorkerImportService_getKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>