src/RequisicaoAX.Dynamics.Services/Connected Services/Purch/PurchRFQ2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services/Imports">
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd24" namespace="http://schemas.microsoft.com/dynamics/2008/01/services" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd20" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd22" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd2" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvMode" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd12" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvTerm" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd13" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/LedgerCurrency" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd14" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/MarkupMarkupTable" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd15" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchReqImport" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd16" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQPaymTerms" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd17" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd18" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQUnit" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd19" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd21" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CurrencyServiceGetChangedKeysRequest">
    <wsdl:part name="parameters" element="tns:CurrencyServiceGetChangedKeysRequest" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceGetChangedKeysRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceGetChangedKeysResponse">
    <wsdl:part name="parameters" element="tns:CurrencyServiceGetChangedKeysResponse" />
  </wsdl:message>
  <wsdl:message name="CurrencyService_getChangedKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceReadRequest">
    <wsdl:part name="parameters" element="tns:CurrencyServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceReadRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceReadResponse">
    <wsdl:part name="parameters" element="tns:CurrencyServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="CurrencyService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:CurrencyServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:CurrencyServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="CurrencyService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceFindRequest">
    <wsdl:part name="parameters" element="tns:CurrencyServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceFindRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceFindResponse">
    <wsdl:part name="parameters" element="tns:CurrencyServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="CurrencyService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceGetKeysRequest">
    <wsdl:part name="parameters" element="tns:CurrencyServiceGetKeysRequest" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceGetKeysRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="CurrencyServiceGetKeysResponse">
    <wsdl:part name="parameters" element="tns:CurrencyServiceGetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="CurrencyService_getKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceFindRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceFindRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceFindResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceReadRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceReadRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceReadResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceGetChangedKeysRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceGetChangedKeysRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceGetChangedKeysRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceGetChangedKeysResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceGetChangedKeysResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_getChangedKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceGetKeysRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceGetKeysRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceGetKeysRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceGetKeysResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceGetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_getKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceCreateRequest_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q20:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceCancelRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceCancelRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceCancelRequest_Headers">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q21:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceCancelResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceCancelResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_cancel_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q22:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q23:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q24:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q25="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q25:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:PurchReqImportServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="PurchReqImportService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q26:AifFault" />
  </wsdl:message>
  <wsdl:portType name="CurrencyService">
    <wsdl:operation name="getChangedKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/getChangedKeys" name="CurrencyServiceGetChangedKeysRequest" message="tns:CurrencyServiceGetChangedKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/getChangedKeysResponse" name="CurrencyServiceGetChangedKeysResponse" message="tns:CurrencyServiceGetChangedKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/getChangedKeysAifFaultFault" name="AifFaultFault" message="tns:CurrencyService_getChangedKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/read" name="CurrencyServiceReadRequest" message="tns:CurrencyServiceReadRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/readResponse" name="CurrencyServiceReadResponse" message="tns:CurrencyServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/readAifFaultFault" name="AifFaultFault" message="tns:CurrencyService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/findKeys" name="CurrencyServiceFindKeysRequest" message="tns:CurrencyServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/findKeysResponse" name="CurrencyServiceFindKeysResponse" message="tns:CurrencyServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/findKeysAifFaultFault" name="AifFaultFault" message="tns:CurrencyService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/find" name="CurrencyServiceFindRequest" message="tns:CurrencyServiceFindRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/findResponse" name="CurrencyServiceFindResponse" message="tns:CurrencyServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/findAifFaultFault" name="AifFaultFault" message="tns:CurrencyService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/getKeys" name="CurrencyServiceGetKeysRequest" message="tns:CurrencyServiceGetKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/getKeysResponse" name="CurrencyServiceGetKeysResponse" message="tns:CurrencyServiceGetKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CurrencyService/getKeysAifFaultFault" name="AifFaultFault" message="tns:CurrencyService_getKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PurchReqImportService">
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/find" name="PurchReqImportServiceFindRequest" message="tns:PurchReqImportServiceFindRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/findResponse" name="PurchReqImportServiceFindResponse" message="tns:PurchReqImportServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/findAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/read" name="PurchReqImportServiceReadRequest" message="tns:PurchReqImportServiceReadRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/readResponse" name="PurchReqImportServiceReadResponse" message="tns:PurchReqImportServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/readAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/getChangedKeys" name="PurchReqImportServiceGetChangedKeysRequest" message="tns:PurchReqImportServiceGetChangedKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/getChangedKeysResponse" name="PurchReqImportServiceGetChangedKeysResponse" message="tns:PurchReqImportServiceGetChangedKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/getChangedKeysAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_getChangedKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/getKeys" name="PurchReqImportServiceGetKeysRequest" message="tns:PurchReqImportServiceGetKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/getKeysResponse" name="PurchReqImportServiceGetKeysResponse" message="tns:PurchReqImportServiceGetKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/getKeysAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_getKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/create" name="PurchReqImportServiceCreateRequest" message="tns:PurchReqImportServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/createResponse" name="PurchReqImportServiceCreateResponse" message="tns:PurchReqImportServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/createAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/cancel" name="PurchReqImportServiceCancelRequest" message="tns:PurchReqImportServiceCancelRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/cancelResponse" name="PurchReqImportServiceCancelResponse" message="tns:PurchReqImportServiceCancelResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/cancelAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_cancel_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/delete" name="PurchReqImportServiceDeleteRequest" message="tns:PurchReqImportServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/deleteResponse" name="PurchReqImportServiceDeleteResponse" message="tns:PurchReqImportServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/deleteAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/findKeys" name="PurchReqImportServiceFindKeysRequest" message="tns:PurchReqImportServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/findKeysResponse" name="PurchReqImportServiceFindKeysResponse" message="tns:PurchReqImportServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchReqImportService/findKeysAifFaultFault" name="AifFaultFault" message="tns:PurchReqImportService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>