src/RequisicaoAX.Dynamics.Services/Connected Services/Purch/PurchRFQ13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQPaymTerms" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQPaymTerms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="PurchRFQPaymTerms" type="tns:AxdPurchRFQPaymTerms" />
  <xs:complexType name="AxdPurchRFQPaymTerms">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymTerm" type="tns:AxdEntity_PaymTerm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_PaymTerm">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="1" name="PaymTermId" type="st:AxdExtType_PaymTermId" />
      <xs:element minOccurs="0" name="PaymMethod" nillable="true" type="st:AxdExtType_PaymMethod" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="st:AxdExtType_Description" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>