src/RequisicaoAX.Dynamics.Services/Connected Services/Purch/PurchRFQ3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="PurchRFQSites" type="tns:AxdPurchRFQSites" />
  <xs:complexType name="AxdPurchRFQSites">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchRFQTable" type="tns:AxdEntity_PurchRFQTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_PurchRFQTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgreementId" nillable="true" type="st:AxdExtType_PurchAgreementId" />
      <xs:element minOccurs="0" name="CashDisc" nillable="true" type="st:AxdExtType_VendCashDiscCode" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="st:AxdExtType_ContactPersonId" />
      <xs:element minOccurs="1" name="CurrencyCode" type="st:AxdUnion_AxdExtType_VendCurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="st:AxdExtType_PurchRFQRequestedDeliveryDate" />
      <xs:element minOccurs="0" name="DeliveryName" nillable="true" type="st:AxdExtType_VendName" />
      <xs:element minOccurs="0" name="DeliveryPostalAddress" nillable="true" type="st:AxdExtType_LogisticsPostalAddressRecId" />
      <xs:element minOccurs="0" name="DiscPercent" nillable="true" type="st:AxdExtType_PurchEndDiscPct" />
      <xs:element minOccurs="0" name="DlvMode" nillable="true" type="st:AxdUnion_AxdExtType_VendDlvModeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DlvTerm" nillable="true" type="st:AxdUnion_AxdExtType_VendDlvTermId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="st:AxdExtType_Email" />
      <xs:element minOccurs="0" name="EndDisc" nillable="true" type="st:AxdExtType_VendEndDiscCode" />
      <xs:element minOccurs="0" name="EnterpriseNumber" nillable="true" type="st:AxdExtType_TaxEnterpriseNumber" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="ExpiryDateTime" nillable="true" type="st:AxdExtType_PurchRFQExpiryDateTime" />
      <xs:element minOccurs="0" name="InclTax" nillable="true" type="st:AxdExtType_InclTax" />
      <xs:element minOccurs="0" name="InventLocationId" nillable="true" type="st:AxdExtType_PurchInventLocationId" />
      <xs:element minOccurs="0" name="InventSiteId" nillable="true" type="st:AxdExtType_InventSiteId" />
      <xs:element minOccurs="0" name="ItemBuyerGroup" nillable="true" type="st:AxdExtType_ItemBuyerGroupId" />
      <xs:element minOccurs="1" name="LanguageId" type="st:AxdExtType_LanguageId" />
      <xs:element minOccurs="0" name="LineDisc" nillable="true" type="st:AxdExtType_VendLineDiscCode" />
      <xs:element minOccurs="0" name="MarkupGroup" nillable="true" type="st:AxdExtType_VendMarkupGroupId" />
      <xs:element minOccurs="0" name="MultiLineDisc" nillable="true" type="st:AxdExtType_VendMultiLineDiscCode" />
      <xs:element minOccurs="0" name="NumberSequenceGroup" nillable="true" type="st:AxdExtType_NumberSequenceGroupId" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="st:AxdExtType_VendPaymTermId" />
      <xs:element minOccurs="0" name="PaymentSched" nillable="true" type="st:AxdExtType_PaymSchedId" />
      <xs:element minOccurs="0" name="PaymMode" nillable="true" type="st:AxdExtType_VendPaymMode" />
      <xs:element minOccurs="0" name="PaymSpec" nillable="true" type="st:AxdExtType_VendPaymSpec" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="st:AxdExtType_Phone" />
      <xs:element minOccurs="0" name="PriceGroup" nillable="true" type="st:AxdExtType_VendPriceGroup" />
      <xs:element minOccurs="0" name="ProjId" nillable="true" type="st:AxdExtType_ProjId" />
      <xs:element minOccurs="0" name="PurchId" nillable="true" type="st:AxdExtType_PurchId" />
      <xs:element minOccurs="0" name="ReasonId" nillable="true" type="st:AxdExtType_PurchRFQReasonId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Requester" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="0" name="ResponsibleWorkerId" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="1" name="RFQCaseId" type="st:AxdExtType_PurchRFQCaseId" />
      <xs:element minOccurs="1" name="RFQId" type="st:AxdExtType_PurchRFQId" />
      <xs:element minOccurs="0" name="RFQName" nillable="true" type="st:AxdExtType_PurchRFQName" />
      <xs:element minOccurs="0" name="RFQType" nillable="true" type="st:AxdEnum_PurchRFQType" />
      <xs:element minOccurs="0" name="StatusHigh" nillable="true" type="st:AxdEnum_PurchRFQStatus" />
      <xs:element minOccurs="0" name="StatusLow" nillable="true" type="st:AxdEnum_PurchRFQStatus" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="ValidityDateEnd" nillable="true" type="st:AxdExtType_ValidToDate" />
      <xs:element minOccurs="0" name="ValidityDateStart" nillable="true" type="st:AxdExtType_ValidFromDate" />
      <xs:element minOccurs="0" name="VATNum" nillable="true" type="st:AxdExtType_VATNumJournal" />
      <xs:element minOccurs="1" name="VendAccount" type="st:AxdUnion_AxdExtType_VendAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="VendPriceGroupId" nillable="true" type="st:AxdExtType_VendPriceGroup" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchRFQLine" type="tns:AxdEntity_PurchRFQLine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocuRef" type="tns:AxdEntity_DocuRef" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkupTrans_RFQTable" type="tns:AxdEntity_MarkupTrans_RFQTable" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompanyInfo" type="tns:AxdEntity_CompanyInfo_CompanyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="PurchRFQReplyTable" type="tns:AxdEntity_PurchRFQReplyTable" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymTerm" type="tns:AxdEntity_PaymTerm" />
      <xs:element minOccurs="0" maxOccurs="1" name="DlvModeTable" type="tns:AxdEntity_DlvModeTable" />
      <xs:element minOccurs="0" maxOccurs="1" name="DlvTermTable" type="tns:AxdEntity_DlvTermTable" />
      <xs:element minOccurs="1" maxOccurs="1" name="LogisticsPostalAddress" type="tns:AxdEntity_LogisticsPostalAddress" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_PurchRFQLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityNumber" nillable="true" type="st:AxdExtType_ProjActivityNumber" />
      <xs:element minOccurs="0" name="AddressRefRecId" nillable="true" type="st:AxdExtType_AddressRefRecId" />
      <xs:element minOccurs="0" name="AddressRefTableId" nillable="true" type="st:AxdExtType_AddressRefTableId" />
      <xs:element minOccurs="0" name="AgreementId" nillable="true" type="st:AxdExtType_PurchAgreementId" />
      <xs:element minOccurs="0" name="AssetBookId" nillable="true" type="st:AxdExtType_AssetBookId" />
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="st:AxdExtType_AssetIdOpen" />
      <xs:element minOccurs="0" name="AssetTransTypePurch" nillable="true" type="st:AxdExtType_AssetTransTypePurchEDT" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="st:AxdEntityKey_EcoResCategory" />
      <xs:element minOccurs="0" name="ConfirmedDlv" nillable="true" type="st:AxdExtType_PurchLineDlvDate" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="st:AxdExtType_PurchRFQRequestedDeliveryDate" />
      <xs:element minOccurs="0" name="DeliveryName" nillable="true" type="st:AxdExtType_Name" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="ExpiryDateTime" nillable="true" type="st:AxdExtType_PurchRFQExpiryDateTime" />
      <xs:element minOccurs="0" name="ExternalItemId" nillable="true" type="st:AxdExtType_PurchExternalItemId" />
      <xs:element minOccurs="0" name="InventRefId" nillable="true" type="st:AxdExtType_InventRefId" />
      <xs:element minOccurs="0" name="InventRefTransId" nillable="true" type="st:AxdExtType_InventRefTransId" />
      <xs:element minOccurs="0" name="InventRefType" nillable="true" type="st:AxdEnum_InventRefType" />
      <xs:element minOccurs="0" name="InventTransId" nillable="true" type="st:AxdExtType_InventTransId" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="st:AxdUnion_AxdExtType_ItemIdSmall_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="st:AxdExtType_ItemNameDisplay" />
      <xs:element minOccurs="0" name="LineAmount" nillable="true" type="st:AxdExtType_PurchLineAmount" />
      <xs:element minOccurs="0" name="LineDisc" nillable="true" type="st:AxdExtType_PurchLineDisc" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="LinePercent" nillable="true" type="st:AxdExtType_PurchLinePercent" />
      <xs:element minOccurs="0" name="LineType" nillable="true" type="st:AxdEnum_PurchRFQLineItemType" />
      <xs:element minOccurs="0" name="MultiLnDisc" nillable="true" type="st:AxdExtType_PurchMultiLnDisc" />
      <xs:element minOccurs="0" name="MultiLnPercent" nillable="true" type="st:AxdExtType_PurchMultiLnPercent" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_ItemFreeTxt" />
      <xs:element minOccurs="0" name="PriceUnit" nillable="true" type="st:AxdExtType_PriceUnit" />
      <xs:element minOccurs="0" name="ProjCategoryId" nillable="true" type="st:AxdExtType_ProjCategoryId" />
      <xs:element minOccurs="0" name="ProjId" nillable="true" type="st:AxdExtType_ProjId" />
      <xs:element minOccurs="0" name="ProjLinePropertyId" nillable="true" type="st:AxdExtType_ProjLinePropertyId" />
      <xs:element minOccurs="0" name="ProjSalesCurrencyId" nillable="true" type="st:AxdExtType_CurrencyCode" />
      <xs:element minOccurs="0" name="ProjSalesPrice" nillable="true" type="st:AxdExtType_ProjSalesPriceCost" />
      <xs:element minOccurs="0" name="ProjSalesUnitId" nillable="true" type="st:AxdExtType_UnitOfMeasureSymbol" />
      <xs:element minOccurs="0" name="ProjTaxGroupId" nillable="true" type="st:AxdExtType_ProjTaxGroup" />
      <xs:element minOccurs="0" name="ProjTaxItemGroupId" nillable="true" type="st:AxdExtType_ProjTaxItemGroup" />
      <xs:element minOccurs="0" name="ProjTransId" nillable="true" type="st:AxdExtType_ProjItemTransId" />
      <xs:element minOccurs="0" name="PurchId" nillable="true" type="st:AxdExtType_PurchIdBase" />
      <xs:element minOccurs="0" name="PurchMarkup" nillable="true" type="st:AxdExtType_PurchMarkup" />
      <xs:element minOccurs="0" name="PurchPrice" nillable="true" type="st:AxdExtType_PurchPrice" />
      <xs:element minOccurs="0" name="PurchQty" nillable="true" type="st:AxdExtType_PurchOrderedQty" />
      <xs:element minOccurs="0" name="PurchUnit" nillable="true" type="st:AxdUnion_AxdExtType_PurchUnit_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="QtyOrdered" nillable="true" type="st:AxdExtType_InventQty" />
      <xs:element minOccurs="0" name="ReasonId" nillable="true" type="st:AxdExtType_PurchRFQReasonId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="ReqPlanIdSched" nillable="true" type="st:AxdExtType_ReqPlanIdSched" />
      <xs:element minOccurs="0" name="ReqPOId" nillable="true" type="st:AxdExtType_ReqPOId" />
      <xs:element minOccurs="1" name="RFQId" type="st:AxdExtType_PurchRFQId" />
      <xs:element minOccurs="0" name="RFQType" nillable="true" type="st:AxdEnum_PurchRFQType" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="st:AxdEnum_PurchRFQStatus" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="1" maxOccurs="1" name="PurchRFQReplyLine" type="tns:AxdEntity_PurchRFQReplyLine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkupTrans_RFQLine" type="tns:AxdEntity_MarkupTrans_RFQLine" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_PurchRFQReplyLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalendarDays" nillable="true" type="st:AxdExtType_CalendarDays" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="st:AxdExtType_PurchRFQLineComment" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="st:AxdExtType_DlvDate" />
      <xs:element minOccurs="0" name="ExternalItemId" nillable="true" type="st:AxdExtType_PurchExternalItemId" />
      <xs:element minOccurs="0" name="LeadTime" nillable="true" type="st:AxdExtType_LeadTime" />
      <xs:element minOccurs="0" name="LineAmount" nillable="true" type="st:AxdExtType_PurchLineAmount" />
      <xs:element minOccurs="0" name="LineDisc" nillable="true" type="st:AxdExtType_PurchLineDisc" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="LinePercent" nillable="true" type="st:AxdExtType_PurchLinePercent" />
      <xs:element minOccurs="0" name="MaximumRetailPrice_IN" nillable="true" type="st:AxdExtType_MaximumRetailPrice_IN" />
      <xs:element minOccurs="0" name="MultiLnDisc" nillable="true" type="st:AxdExtType_PurchMultiLnDisc" />
      <xs:element minOccurs="0" name="MultiLnPercent" nillable="true" type="st:AxdExtType_PurchMultiLnPercent" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_ItemFreeTxt" />
      <xs:element minOccurs="0" name="PdsCWQty" nillable="true" type="st:AxdExtType_PdsCWInventQty" />
      <xs:element minOccurs="0" name="PriceUnit" nillable="true" type="st:AxdExtType_PriceUnit" />
      <xs:element minOccurs="0" name="PurchMarkup" nillable="true" type="st:AxdExtType_PurchMarkup" />
      <xs:element minOccurs="0" name="PurchPrice" nillable="true" type="st:AxdExtType_PurchPrice" />
      <xs:element minOccurs="0" name="PurchQty" nillable="true" type="st:AxdExtType_PurchOrderedQty" />
      <xs:element minOccurs="0" name="PurchUnit" nillable="true" type="st:AxdUnion_AxdExtType_PurchUnit_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="1" name="RFQId" type="st:AxdExtType_PurchRFQId" />
      <xs:element minOccurs="0" name="RFQMark" nillable="true" type="st:AxdExtType_PurchRFQMark" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="st:AxdExtType_PurchRFQValidDate" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="st:AxdExtType_PurchRFQValidDate" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkupTrans_ReplyLine" type="tns:AxdEntity_MarkupTrans_ReplyLine" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkupTrans_ReplyLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculatedAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="CalculatedAmountMST_W" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="ChargeIndicatorEinvoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CustomsAssessableValue_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="CustVendPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="DocumentStatus" nillable="true" type="st:AxdEnum_DocumentStatus" />
      <xs:element minOccurs="0" name="ExchRate_RU" nillable="true" type="st:AxdExtType_ExchRate" />
      <xs:element minOccurs="0" name="ExchrateSecond_RU" nillable="true" type="st:AxdExtType_ExchrateSecondary" />
      <xs:element minOccurs="0" name="FacturedAmount_RU" nillable="true" type="st:AxdExtType_FacturedAmount_RU" />
      <xs:element minOccurs="0" name="FromAmount" nillable="true" type="st:AxdExtType_MarkupFromAmount" />
      <xs:element minOccurs="0" name="GoodsInRouteId_RU" nillable="true" type="st:AxdExtType_GoodsInRouteId_RU" />
      <xs:element minOccurs="0" name="GoodsInRouteToDelivery_RU" nillable="true" type="st:AxdExtType_GoodsInRouteToDelivery_RU" />
      <xs:element minOccurs="0" name="InterCompanyCompanyId" nillable="true" type="st:AxdExtType_InterCompanyCompanyId" />
      <xs:element minOccurs="0" name="InterCompanyInvoiceId" nillable="true" type="st:AxdExtType_InterCompanyInvoiceId" />
      <xs:element minOccurs="0" name="InterCompanyMarkupUseValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupUseValue" />
      <xs:element minOccurs="0" name="InterCompanyMarkupValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupValue" />
      <xs:element minOccurs="0" name="InterCompanyRefRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ItemPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="Keep" nillable="true" type="st:AxdExtType_MarkupKeep" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="MarkUpAllocateAfter_IN" nillable="true" type="st:AxdEnum_MarkupAllocateAfter" />
      <xs:element minOccurs="0" name="MarkupCategory" nillable="true" type="st:AxdExtType_MarkupCategoryType" />
      <xs:element minOccurs="0" name="MarkupClassification_BR" nillable="true" type="st:AxdEnum_MarkupClassification_BR" />
      <xs:element minOccurs="1" name="MarkupCode" type="st:AxdUnion_AxdExtType_MarkupCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRBrokerContractFee" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRCouponMarkup" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRInstallmentEligible" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRMarkupTransCreatedBy" nillable="true" type="st:AxdEnum_MCRMarkupTransCreatedBy" />
      <xs:element minOccurs="0" name="MCRMiscChargeOverride" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCROriginalMiscChargeValue" nillable="true" type="st:AxdType_Decimal" />
      <xs:element minOccurs="0" name="MCRReasonCode" nillable="true" type="st:AxdUnion_AxdExtType_RetailInformationSubcodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRRetailInfocodeId" nillable="true" type="st:AxdUnion_AxdExtType_RetailInfocodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRSavedRecID" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="MCRSavedTableID" nillable="true" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="ModuleCategory" nillable="true" type="st:AxdExtType_MarkupModuleCategory" />
      <xs:element minOccurs="0" name="ModuleType" nillable="true" type="st:AxdExtType_MarkupModule" />
      <xs:element minOccurs="0" name="NotionalCharges_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="NotionalPct_IN" nillable="true" type="st:AxdExtType_NotionalPct_IN" />
      <xs:element minOccurs="0" name="OrigRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="OrigTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Posted" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="TaxAmountExcise_RU" nillable="true" type="st:AxdExtType_TaxAmountExcise_RU" />
      <xs:element minOccurs="0" name="TaxAmountExciseMST_RU" nillable="true" type="st:AxdExtType_TaxAmountExciseMST_RU" />
      <xs:element minOccurs="0" name="TaxAmountMST_W" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="TaxAmountVAT_RU" nillable="true" type="st:AxdExtType_TaxAmountVAT_RU" />
      <xs:element minOccurs="0" name="TaxAmountVATMST_RU" nillable="true" type="st:AxdExtType_TaxAmountVATMST_RU" />
      <xs:element minOccurs="0" name="TaxAutogenerated" nillable="true" type="st:AxdExtType_TaxAutoGenerated" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TaxValueVAT_RU" nillable="true" type="st:AxdExtType_TaxValueVAT_RU" />
      <xs:element minOccurs="0" name="TaxVATType_RU" nillable="true" type="st:AxdEnum_VATType_RU" />
      <xs:element minOccurs="0" name="TaxWriteCode" nillable="true" type="st:AxdExtType_TaxWriteCode" />
      <xs:element minOccurs="0" name="ToAmount" nillable="true" type="st:AxdExtType_MarkupToAmount" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="TransRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="TransTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_TransTxt" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="st:AxdExtType_MarkupValue" />
      <xs:element minOccurs="0" name="VATDocumentType_RU" nillable="true" type="st:AxdEnum_PurchBookVATDocumentType_Invoice_RU" />
      <xs:element minOccurs="0" name="Voucher" nillable="true" type="st:AxdExtType_Voucher" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkupTrans_RFQLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculatedAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="CalculatedAmountMST_W" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="ChargeIndicatorEinvoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CustomsAssessableValue_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="CustVendPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="DocumentStatus" nillable="true" type="st:AxdEnum_DocumentStatus" />
      <xs:element minOccurs="0" name="ExchRate_RU" nillable="true" type="st:AxdExtType_ExchRate" />
      <xs:element minOccurs="0" name="ExchrateSecond_RU" nillable="true" type="st:AxdExtType_ExchrateSecondary" />
      <xs:element minOccurs="0" name="FacturedAmount_RU" nillable="true" type="st:AxdExtType_FacturedAmount_RU" />
      <xs:element minOccurs="0" name="FromAmount" nillable="true" type="st:AxdExtType_MarkupFromAmount" />
      <xs:element minOccurs="0" name="GoodsInRouteId_RU" nillable="true" type="st:AxdExtType_GoodsInRouteId_RU" />
      <xs:element minOccurs="0" name="GoodsInRouteToDelivery_RU" nillable="true" type="st:AxdExtType_GoodsInRouteToDelivery_RU" />
      <xs:element minOccurs="0" name="InterCompanyCompanyId" nillable="true" type="st:AxdExtType_InterCompanyCompanyId" />
      <xs:element minOccurs="0" name="InterCompanyInvoiceId" nillable="true" type="st:AxdExtType_InterCompanyInvoiceId" />
      <xs:element minOccurs="0" name="InterCompanyMarkupUseValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupUseValue" />
      <xs:element minOccurs="0" name="InterCompanyMarkupValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupValue" />
      <xs:element minOccurs="0" name="InterCompanyRefRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ItemPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="Keep" nillable="true" type="st:AxdExtType_MarkupKeep" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="MarkUpAllocateAfter_IN" nillable="true" type="st:AxdEnum_MarkupAllocateAfter" />
      <xs:element minOccurs="0" name="MarkupCategory" nillable="true" type="st:AxdExtType_MarkupCategoryType" />
      <xs:element minOccurs="0" name="MarkupClassification_BR" nillable="true" type="st:AxdEnum_MarkupClassification_BR" />
      <xs:element minOccurs="1" name="MarkupCode" type="st:AxdUnion_AxdExtType_MarkupCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRBrokerContractFee" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRCouponMarkup" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRInstallmentEligible" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRMarkupTransCreatedBy" nillable="true" type="st:AxdEnum_MCRMarkupTransCreatedBy" />
      <xs:element minOccurs="0" name="MCRMiscChargeOverride" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCROriginalMiscChargeValue" nillable="true" type="st:AxdType_Decimal" />
      <xs:element minOccurs="0" name="MCRReasonCode" nillable="true" type="st:AxdUnion_AxdExtType_RetailInformationSubcodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRRetailInfocodeId" nillable="true" type="st:AxdUnion_AxdExtType_RetailInfocodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRSavedRecID" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="MCRSavedTableID" nillable="true" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="ModuleCategory" nillable="true" type="st:AxdExtType_MarkupModuleCategory" />
      <xs:element minOccurs="0" name="ModuleType" nillable="true" type="st:AxdExtType_MarkupModule" />
      <xs:element minOccurs="0" name="NotionalCharges_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="NotionalPct_IN" nillable="true" type="st:AxdExtType_NotionalPct_IN" />
      <xs:element minOccurs="0" name="OrigRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="OrigTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Posted" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="TaxAmountExcise_RU" nillable="true" type="st:AxdExtType_TaxAmountExcise_RU" />
      <xs:element minOccurs="0" name="TaxAmountExciseMST_RU" nillable="true" type="st:AxdExtType_TaxAmountExciseMST_RU" />
      <xs:element minOccurs="0" name="TaxAmountMST_W" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="TaxAmountVAT_RU" nillable="true" type="st:AxdExtType_TaxAmountVAT_RU" />
      <xs:element minOccurs="0" name="TaxAmountVATMST_RU" nillable="true" type="st:AxdExtType_TaxAmountVATMST_RU" />
      <xs:element minOccurs="0" name="TaxAutogenerated" nillable="true" type="st:AxdExtType_TaxAutoGenerated" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TaxValueVAT_RU" nillable="true" type="st:AxdExtType_TaxValueVAT_RU" />
      <xs:element minOccurs="0" name="TaxVATType_RU" nillable="true" type="st:AxdEnum_VATType_RU" />
      <xs:element minOccurs="0" name="TaxWriteCode" nillable="true" type="st:AxdExtType_TaxWriteCode" />
      <xs:element minOccurs="0" name="ToAmount" nillable="true" type="st:AxdExtType_MarkupToAmount" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="TransRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="TransTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_TransTxt" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="st:AxdExtType_MarkupValue" />
      <xs:element minOccurs="0" name="VATDocumentType_RU" nillable="true" type="st:AxdEnum_PurchBookVATDocumentType_Invoice_RU" />
      <xs:element minOccurs="0" name="Voucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" maxOccurs="1" name="MarkupTable_RFQLine" type="tns:AxdEntity_MarkupTable_RFQLine" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkupTable_RFQLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_TransTxt" />
      <xs:element minOccurs="1" name="MarkupCode" type="st:AxdExtType_MarkupCode" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DocuRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualCompanyId" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="ContactPersonId" nillable="true" type="st:AxdExtType_ContactPersonId" />
      <xs:element minOccurs="0" name="DocuTemplate" nillable="true" type="st:AxdExtType_Filename" />
      <xs:element minOccurs="0" name="EncyclopediaItemId" nillable="true" type="st:AxdExtType_smmEncyclopediaItemId" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="st:AxdExtType_Notes" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RefCompanyId" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="RefRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RefTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Restriction" nillable="true" type="st:AxdEnum_DocuRestriction" />
      <xs:element minOccurs="0" name="smmTable" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="st:AxdExtType_DocuTypeId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkupTrans_RFQTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculatedAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="CalculatedAmountMST_W" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="ChargeIndicatorEinvoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CustomsAssessableValue_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="CustVendPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="DocumentStatus" nillable="true" type="st:AxdEnum_DocumentStatus" />
      <xs:element minOccurs="0" name="ExchRate_RU" nillable="true" type="st:AxdExtType_ExchRate" />
      <xs:element minOccurs="0" name="ExchrateSecond_RU" nillable="true" type="st:AxdExtType_ExchrateSecondary" />
      <xs:element minOccurs="0" name="FacturedAmount_RU" nillable="true" type="st:AxdExtType_FacturedAmount_RU" />
      <xs:element minOccurs="0" name="FromAmount" nillable="true" type="st:AxdExtType_MarkupFromAmount" />
      <xs:element minOccurs="0" name="GoodsInRouteId_RU" nillable="true" type="st:AxdExtType_GoodsInRouteId_RU" />
      <xs:element minOccurs="0" name="GoodsInRouteToDelivery_RU" nillable="true" type="st:AxdExtType_GoodsInRouteToDelivery_RU" />
      <xs:element minOccurs="0" name="InterCompanyCompanyId" nillable="true" type="st:AxdExtType_InterCompanyCompanyId" />
      <xs:element minOccurs="0" name="InterCompanyInvoiceId" nillable="true" type="st:AxdExtType_InterCompanyInvoiceId" />
      <xs:element minOccurs="0" name="InterCompanyMarkupUseValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupUseValue" />
      <xs:element minOccurs="0" name="InterCompanyMarkupValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupValue" />
      <xs:element minOccurs="0" name="InterCompanyRefRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ItemPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="Keep" nillable="true" type="st:AxdExtType_MarkupKeep" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="MarkUpAllocateAfter_IN" nillable="true" type="st:AxdEnum_MarkupAllocateAfter" />
      <xs:element minOccurs="0" name="MarkupCategory" nillable="true" type="st:AxdExtType_MarkupCategoryType" />
      <xs:element minOccurs="0" name="MarkupClassification_BR" nillable="true" type="st:AxdEnum_MarkupClassification_BR" />
      <xs:element minOccurs="1" name="MarkupCode" type="st:AxdUnion_AxdExtType_MarkupCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRBrokerContractFee" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRCouponMarkup" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRInstallmentEligible" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRMarkupTransCreatedBy" nillable="true" type="st:AxdEnum_MCRMarkupTransCreatedBy" />
      <xs:element minOccurs="0" name="MCRMiscChargeOverride" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCROriginalMiscChargeValue" nillable="true" type="st:AxdType_Decimal" />
      <xs:element minOccurs="0" name="MCRReasonCode" nillable="true" type="st:AxdUnion_AxdExtType_RetailInformationSubcodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRRetailInfocodeId" nillable="true" type="st:AxdUnion_AxdExtType_RetailInfocodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRSavedRecID" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="MCRSavedTableID" nillable="true" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="ModuleCategory" nillable="true" type="st:AxdExtType_MarkupModuleCategory" />
      <xs:element minOccurs="0" name="ModuleType" nillable="true" type="st:AxdExtType_MarkupModule" />
      <xs:element minOccurs="0" name="NotionalCharges_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="NotionalPct_IN" nillable="true" type="st:AxdExtType_NotionalPct_IN" />
      <xs:element minOccurs="0" name="OrigRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="OrigTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Posted" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="TaxAmountExcise_RU" nillable="true" type="st:AxdExtType_TaxAmountExcise_RU" />
      <xs:element minOccurs="0" name="TaxAmountExciseMST_RU" nillable="true" type="st:AxdExtType_TaxAmountExciseMST_RU" />
      <xs:element minOccurs="0" name="TaxAmountMST_W" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="TaxAmountVAT_RU" nillable="true" type="st:AxdExtType_TaxAmountVAT_RU" />
      <xs:element minOccurs="0" name="TaxAmountVATMST_RU" nillable="true" type="st:AxdExtType_TaxAmountVATMST_RU" />
      <xs:element minOccurs="0" name="TaxAutogenerated" nillable="true" type="st:AxdExtType_TaxAutoGenerated" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TaxValueVAT_RU" nillable="true" type="st:AxdExtType_TaxValueVAT_RU" />
      <xs:element minOccurs="0" name="TaxVATType_RU" nillable="true" type="st:AxdEnum_VATType_RU" />
      <xs:element minOccurs="0" name="TaxWriteCode" nillable="true" type="st:AxdExtType_TaxWriteCode" />
      <xs:element minOccurs="0" name="ToAmount" nillable="true" type="st:AxdExtType_MarkupToAmount" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="TransRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="TransTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_TransTxt" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="st:AxdExtType_MarkupValue" />
      <xs:element minOccurs="0" name="VATDocumentType_RU" nillable="true" type="st:AxdEnum_PurchBookVATDocumentType_Invoice_RU" />
      <xs:element minOccurs="0" name="Voucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" maxOccurs="1" name="MarkupTable_RFQTable" type="tns:AxdEntity_MarkupTable_RFQTable" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkupTable_RFQTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_TransTxt" />
      <xs:element minOccurs="1" name="MarkupCode" type="st:AxdExtType_MarkupCode" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_CompanyInfo_DirPartyTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstanceRelationType" nillable="true" type="st:AxdExtType_RelationType" />
      <xs:element minOccurs="0" name="KnownAs" nillable="true" type="st:AxdExtType_DirPartyName" />
      <xs:element minOccurs="0" name="LanguageId" nillable="true" type="st:AxdExtType_LanguageId" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_DirPartyName" />
      <xs:element minOccurs="0" name="NameAlias" nillable="true" type="st:AxdExtType_NameAlias" />
      <xs:element minOccurs="0" name="PartyNumber" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="PrimaryAddressLocation" nillable="true" type="st:AxdExtType_LogisticsLocationId" />
      <xs:element minOccurs="0" name="PrimaryContactEmail" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactFax" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactPhone" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactTelex" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactURL" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_CompanyInfo_DirOrganizationBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_CompanyInfo_DirPartyTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="DunsNumberRecId" nillable="true" type="st:AxdExtType_LogisticsDunsNumber" />
          <xs:element minOccurs="0" name="PhoneticName" nillable="true" type="st:AxdExtType_DirPartyName" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_CompanyInfo_OMInternalOrganization" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_CompanyInfo_DirOrganizationBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationType" nillable="true" type="st:AxdEnum_OMInternalOrganizationType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_CompanyInfo_CompanyInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_CompanyInfo_OMInternalOrganization">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accountant_LT" nillable="true" type="st:AxdExtType_Name" />
          <xs:element minOccurs="0" name="AccountingPersonnel_JP" nillable="true" type="st:AxdExtType_AccountingPersonnel_JP" />
          <xs:element minOccurs="0" name="AccountOfficeRefNum" nillable="true" type="st:AxdExtType_AccountOfficeRefNum" />
          <xs:element minOccurs="0" name="ActivityCode" nillable="true" type="st:AxdExtType_CompanyActivityCode" />
          <xs:element minOccurs="0" name="AddrFormat" nillable="true" type="st:AxdExtType_AddressFormatId" />
          <xs:element minOccurs="0" name="Bank" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
          <xs:element minOccurs="0" name="BankAcctUsedFor1099" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
          <xs:element minOccurs="0" name="BankCentralBankPurposeCode" nillable="true" type="st:AxdExtType_BankCentralBankPurposeCode" />
          <xs:element minOccurs="0" name="BankCentralBankPurposeText" nillable="true" type="st:AxdExtType_BankCentralBankPurposeText" />
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="st:AxdExtType_CompanyBranchId" />
          <xs:element minOccurs="0" name="branchNumber" nillable="true" type="st:AxdExtType_TaxBranchNumber" />
          <xs:element minOccurs="0" name="BusinessActivity_SA" nillable="true" type="st:AxdExtType_CompanyBusinessActivityZakat_SA" />
          <xs:element minOccurs="0" name="BusinessActivityDesc_SA" nillable="true" type="st:AxdExtType_CompanyBusinessActivityDescZakat_SA" />
          <xs:element minOccurs="0" name="BusinessCommencedDate_JP" nillable="true" type="st:AxdExtType_AssetBusinessCommencedDate_JP" />
          <xs:element minOccurs="0" name="BusinessInitialCapital_JP" nillable="true" type="st:AxdExtType_AssetBusinessInitialCapital_JP" />
          <xs:element minOccurs="0" name="BusinessItem_JP" nillable="true" type="st:AxdExtType_AssetBusinessItem_JP" />
          <xs:element minOccurs="0" name="BusinessNumber_CA" nillable="true" type="st:AxdExtType_BusinessNumber_CA" />
          <xs:element minOccurs="0" name="CertifiedTaxAccountant_JP" nillable="true" type="st:AxdExtType_AssetCertifiedTaxAccountant_JP" />
          <xs:element minOccurs="0" name="CNAE_BR" nillable="true" type="st:AxdExtType_CNAE_BR" />
          <xs:element minOccurs="0" name="CombinedFedStateFiler" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="CommercialRegister" nillable="true" type="st:AxdExtType_CommercialRegister" />
          <xs:element minOccurs="0" name="CommercialRegisterInsetNumber" nillable="true" type="st:AxdExtType_CommercialRegisterInsetNumber" />
          <xs:element minOccurs="0" name="CommercialRegisterSection" nillable="true" type="st:AxdExtType_CommercialRegisterSection" />
          <xs:element minOccurs="0" name="CompanyNAFCode" nillable="true" type="st:AxdExtType_CompanyIdNAF" />
          <xs:element minOccurs="0" name="CompanyRegComFR" nillable="true" type="st:AxdExtType_CompanyRegComFR" />
          <xs:element minOccurs="0" name="CompanyRepresentative_JP" nillable="true" type="st:AxdExtType_CompanyRepresentative_JP" />
          <xs:element minOccurs="0" name="CompanyType_MX" nillable="true" type="st:AxdEnum_CompanyType_MX" />
          <xs:element minOccurs="0" name="ConversionDate" nillable="true" type="st:AxdExtType_TransDate" />
          <xs:element minOccurs="0" name="CoRegNum" nillable="true" type="st:AxdExtType_CompanyCoRegNum" />
          <xs:element minOccurs="0" name="CUC_IT" nillable="true" type="st:AxdExtType_CUC_IT" />
          <xs:element minOccurs="0" name="Curp_MX" nillable="true" type="st:AxdExtType_Curp_MX" />
          <xs:element minOccurs="0" name="CustomsCustomerNumber_FI" nillable="true" type="st:AxdExtType_CustomsCustomerNumber_FI" />
          <xs:element minOccurs="0" name="CustomsLicenseNumber_FI" nillable="true" type="st:AxdExtType_CustomsLicenseNumber_FI" />
          <xs:element minOccurs="1" name="DataArea" type="st:AxdExtType_DataAreaId" />
          <xs:element minOccurs="0" name="DBA" nillable="true" type="st:AxdExtType_DBA" />
          <xs:element minOccurs="0" name="DVRid" nillable="true" type="st:AxdExtType_CompanyDVRid" />
          <xs:element minOccurs="0" name="EeEnablePersonalDataReadLog" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="EeEnableRoleChangeLog" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="st:AxdExtType_EnterpriseCode" />
          <xs:element minOccurs="0" name="EnterpriseNumber" nillable="true" type="st:AxdExtType_TaxEnterpriseNumber" />
          <xs:element minOccurs="0" name="EntityId" nillable="true" type="st:AxdExtType_TableId" />
          <xs:element minOccurs="0" name="FICreditorID_DK" nillable="true" type="st:AxdExtType_FICreditorID_DK" />
          <xs:element minOccurs="0" name="FileNumber_SA" nillable="true" type="st:AxdExtType_CompanyFileNumZakat_SA" />
          <xs:element minOccurs="0" name="FiscalCode_IT" nillable="true" type="st:AxdExtType_IVACode" />
          <xs:element minOccurs="0" name="ForeignEntityIndicator" nillable="true" type="st:AxdExtType_Tax1099ForeignEntityIndicator" />
          <xs:element minOccurs="0" name="FSS_RU" nillable="true" type="st:AxdExtType_FSS" />
          <xs:element minOccurs="0" name="FSSAccount_RU" nillable="true" type="st:AxdUnion_AxdExtType_VendAccount_AxdType_ExtCodeValue" />
          <xs:element minOccurs="0" name="Giro" nillable="true" type="st:AxdExtType_GiroNum" />
          <xs:element minOccurs="0" name="GiroContract" nillable="true" type="st:AxdExtType_GiroContractNum" />
          <xs:element minOccurs="0" name="GiroContractAccount" nillable="true" type="st:AxdExtType_GiroContractAccount" />
          <xs:element minOccurs="0" name="Head_LT" nillable="true" type="st:AxdExtType_Name" />
          <xs:element minOccurs="0" name="ImportVATNum" nillable="true" type="st:AxdExtType_VATNum" />
          <xs:element minOccurs="0" name="ImportVATNumBranchId" nillable="true" type="st:AxdExtType_CompanyBranchId" />
          <xs:element minOccurs="0" name="IntrastatCode" nillable="true" type="st:AxdExtType_IntrastatExternalCode" />
          <xs:element minOccurs="0" name="IsConsolidationCompany" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="IsEliminationCompany" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="IssuingSignature" nillable="true" type="st:AxdExtType_IssuingSignature_IT" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="st:AxdExtType_ParametersKey" />
          <xs:element minOccurs="0" name="LastFilingIndicator" nillable="true" type="st:AxdExtType_Tax1099LastFilingIndicator" />
          <xs:element minOccurs="0" name="LegalFormFR" nillable="true" type="st:AxdExtType_CompanyLegalFormFR" />
          <xs:element minOccurs="0" name="LegalNature_IT" nillable="true" type="st:AxdEnum_LegalNature_IT" />
          <xs:element minOccurs="0" name="LegalRepresentative_JP" nillable="true" type="st:AxdExtType_AssetLegalRepresentative_JP" />
          <xs:element minOccurs="0" name="LegalRepresentativeCurp_MX" nillable="true" type="st:AxdExtType_Curp_MX" />
          <xs:element minOccurs="0" name="LegalRepresentativeName_MX" nillable="true" type="st:AxdExtType_LegalRepresentativeName_MX" />
          <xs:element minOccurs="0" name="LegalRepresentativeRfc_MX" nillable="true" type="st:AxdExtType_Rfc_MX" />
          <xs:element minOccurs="0" name="NameControl" nillable="true" type="st:AxdExtType_NameControl" />
          <xs:element minOccurs="0" name="OrganizationLegalForm_RU" nillable="true" type="st:AxdExtType_OrganizationLegalForm_RU" />
          <xs:element minOccurs="0" name="OrgId" nillable="true" type="st:AxdExtType_OrgId" />
          <xs:element minOccurs="0" name="PackMaterialFeeLicenseNum" nillable="true" type="st:AxdExtType_InventPackingMaterialFeeLicenseNum" />
          <xs:element minOccurs="0" name="PaymInstruction1" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymInstruction2" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymInstruction3" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymInstruction4" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymRoutingDNB" nillable="true" type="st:AxdExtType_PaymRoutingDNB" />
          <xs:element minOccurs="0" name="PaymTraderNumber" nillable="true" type="st:AxdExtType_PaymTraderNumber" />
          <xs:element minOccurs="0" name="PersonInCharge_JP" nillable="true" type="st:AxdExtType_AssetPersonInCharge_JP" />
          <xs:element minOccurs="0" name="PFRegNum_RU" nillable="true" type="st:AxdExtType_PFRegNum_RU" />
          <xs:element minOccurs="0" name="PlanningCompany" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="PrintCorrInvoiceLabel_DE" nillable="true" type="st:AxdExtType_PrintCorrInvoiceLabel_DE" />
          <xs:element minOccurs="0" name="PrintCorrInvoiceLabelEffDate_DE" nillable="true" type="st:AxdExtType_PrintCorrInvoiceLabelEffDate_DE" />
          <xs:element minOccurs="0" name="PrintEnterpriseregister_NO" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="PrintINNKPPInAddress_RU" nillable="true" type="st:AxdExtType_PrintINNKPPInAddress_RU" />
          <xs:element minOccurs="0" name="RAlienCorpCountry" nillable="true" type="st:AxdExtType_AddressCountryRegionId" />
          <xs:element minOccurs="0" name="RAlienCorpName" nillable="true" type="st:AxdExtType_CompanyName" />
          <xs:element minOccurs="0" name="RegNum" nillable="true" type="st:AxdExtType_CompanyRegNum" />
          <xs:element minOccurs="0" name="Resident_W" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="Rfc_MX" nillable="true" type="st:AxdExtType_Rfc_MX" />
          <xs:element minOccurs="0" name="RFullName" nillable="true" type="st:AxdExtType_CompanyName" />
          <xs:element minOccurs="0" name="ShippingCalendarId" nillable="true" type="st:AxdExtType_CompanyShippingCalendarId" />
          <xs:element minOccurs="0" name="SiaCode" nillable="true" type="st:AxdExtType_CompanySIACode" />
          <xs:element minOccurs="0" name="SoftwareIdentificationCode_CA" nillable="true" type="st:AxdExtType_SoftwareIdentificationCode_CA" />
          <xs:element minOccurs="0" name="StateInscription_MX" nillable="true" type="st:AxdExtType_StateInscription_MX" />
          <xs:element minOccurs="0" name="SubordinateCode" nillable="true" type="st:AxdExtType_SubordinateCode" />
          <xs:element minOccurs="0" name="Tax1099RegNum" nillable="true" type="st:AxdExtType_Tax1099RegNum" />
          <xs:element minOccurs="0" name="TaxAuthority_RU" nillable="true" type="st:AxdExtType_TaxAuthority" />
          <xs:element minOccurs="0" name="TaxRepresentative" nillable="true" type="st:AxdExtType_TaxRepresentative" />
          <xs:element minOccurs="0" name="TCC" nillable="true" type="st:AxdExtType_TCC" />
          <xs:element minOccurs="0" name="TemplateFolder_W" nillable="true" type="st:AxdExtType_FilePath" />
          <xs:element minOccurs="0" name="UPSNum" nillable="true" type="st:AxdExtType_UPSNum" />
          <xs:element minOccurs="0" name="validate1099OnEntry" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="VATNum" nillable="true" type="st:AxdExtType_VATNum" />
          <xs:element minOccurs="0" name="VATNumBranchId" nillable="true" type="st:AxdExtType_CompanyBranchId" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyPrimaryContactInfoView" type="tns:AxdEntity_CompanyPrimaryContactInfoView" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_CompanyPrimaryContactInfoView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressLocator" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="st:AxdExtType_PhoneLocal" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressLocator" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="st:AxdExtType_DirPartyRecId" />
      <xs:element minOccurs="0" name="PartyRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressLocator" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Telex" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressLocator" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressLocator" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_PurchRFQReplyTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_VendCurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="st:AxdExtType_DlvDate" />
      <xs:element minOccurs="0" name="DiscPercent" nillable="true" type="st:AxdExtType_PurchEndDiscPct" />
      <xs:element minOccurs="0" name="DlvMode" nillable="true" type="st:AxdUnion_AxdExtType_VendDlvModeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DlvTerm" nillable="true" type="st:AxdUnion_AxdExtType_VendDlvTermId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="st:AxdExtType_VendPaymTermId" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="st:AxdExtType_PurchRFQRank" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RFQId" nillable="true" type="st:AxdExtType_PurchRFQId" />
      <xs:element minOccurs="0" name="RFQMark" nillable="true" type="st:AxdExtType_PurchRFQMark" />
      <xs:element minOccurs="0" name="TotalScore" nillable="true" type="st:AxdExtType_PurchRFQTotalScore" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="st:AxdExtType_PurchRFQValidDate" />
      <xs:element minOccurs="0" name="ValidityDateEnd" nillable="true" type="st:AxdExtType_ValidToDate" />
      <xs:element minOccurs="0" name="ValidityDateStart" nillable="true" type="st:AxdExtType_ValidFromDate" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="st:AxdExtType_PurchRFQValidDate" />
      <xs:element minOccurs="0" name="VendRef" nillable="true" type="st:AxdExtType_VendRef" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkupTrans_ReplyTable" type="tns:AxdEntity_MarkupTrans_ReplyTable" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkupTrans_ReplyTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculatedAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="CalculatedAmountMST_W" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="ChargeIndicatorEinvoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CustomsAssessableValue_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="CustVendPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="DocumentStatus" nillable="true" type="st:AxdEnum_DocumentStatus" />
      <xs:element minOccurs="0" name="ExchRate_RU" nillable="true" type="st:AxdExtType_ExchRate" />
      <xs:element minOccurs="0" name="ExchrateSecond_RU" nillable="true" type="st:AxdExtType_ExchrateSecondary" />
      <xs:element minOccurs="0" name="FacturedAmount_RU" nillable="true" type="st:AxdExtType_FacturedAmount_RU" />
      <xs:element minOccurs="0" name="FromAmount" nillable="true" type="st:AxdExtType_MarkupFromAmount" />
      <xs:element minOccurs="0" name="GoodsInRouteId_RU" nillable="true" type="st:AxdExtType_GoodsInRouteId_RU" />
      <xs:element minOccurs="0" name="GoodsInRouteToDelivery_RU" nillable="true" type="st:AxdExtType_GoodsInRouteToDelivery_RU" />
      <xs:element minOccurs="0" name="InterCompanyCompanyId" nillable="true" type="st:AxdExtType_InterCompanyCompanyId" />
      <xs:element minOccurs="0" name="InterCompanyInvoiceId" nillable="true" type="st:AxdExtType_InterCompanyInvoiceId" />
      <xs:element minOccurs="0" name="InterCompanyMarkupUseValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupUseValue" />
      <xs:element minOccurs="0" name="InterCompanyMarkupValue" nillable="true" type="st:AxdExtType_InterCompanyMarkupValue" />
      <xs:element minOccurs="0" name="InterCompanyRefRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ItemPosted_RU" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="Keep" nillable="true" type="st:AxdExtType_MarkupKeep" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="MarkUpAllocateAfter_IN" nillable="true" type="st:AxdEnum_MarkupAllocateAfter" />
      <xs:element minOccurs="0" name="MarkupCategory" nillable="true" type="st:AxdExtType_MarkupCategoryType" />
      <xs:element minOccurs="0" name="MarkupClassification_BR" nillable="true" type="st:AxdEnum_MarkupClassification_BR" />
      <xs:element minOccurs="1" name="MarkupCode" type="st:AxdUnion_AxdExtType_MarkupCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRBrokerContractFee" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRCouponMarkup" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRInstallmentEligible" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCRMarkupTransCreatedBy" nillable="true" type="st:AxdEnum_MCRMarkupTransCreatedBy" />
      <xs:element minOccurs="0" name="MCRMiscChargeOverride" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="MCROriginalMiscChargeValue" nillable="true" type="st:AxdType_Decimal" />
      <xs:element minOccurs="0" name="MCRReasonCode" nillable="true" type="st:AxdUnion_AxdExtType_RetailInformationSubcodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRRetailInfocodeId" nillable="true" type="st:AxdUnion_AxdExtType_RetailInfocodeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRSavedRecID" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="MCRSavedTableID" nillable="true" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="ModuleCategory" nillable="true" type="st:AxdExtType_MarkupModuleCategory" />
      <xs:element minOccurs="0" name="ModuleType" nillable="true" type="st:AxdExtType_MarkupModule" />
      <xs:element minOccurs="0" name="NotionalCharges_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="NotionalPct_IN" nillable="true" type="st:AxdExtType_NotionalPct_IN" />
      <xs:element minOccurs="0" name="OrigRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="OrigTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Posted" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="TaxAmountExcise_RU" nillable="true" type="st:AxdExtType_TaxAmountExcise_RU" />
      <xs:element minOccurs="0" name="TaxAmountExciseMST_RU" nillable="true" type="st:AxdExtType_TaxAmountExciseMST_RU" />
      <xs:element minOccurs="0" name="TaxAmountMST_W" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="TaxAmountVAT_RU" nillable="true" type="st:AxdExtType_TaxAmountVAT_RU" />
      <xs:element minOccurs="0" name="TaxAmountVATMST_RU" nillable="true" type="st:AxdExtType_TaxAmountVATMST_RU" />
      <xs:element minOccurs="0" name="TaxAutogenerated" nillable="true" type="st:AxdExtType_TaxAutoGenerated" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TaxValueVAT_RU" nillable="true" type="st:AxdExtType_TaxValueVAT_RU" />
      <xs:element minOccurs="0" name="TaxVATType_RU" nillable="true" type="st:AxdEnum_VATType_RU" />
      <xs:element minOccurs="0" name="TaxWriteCode" nillable="true" type="st:AxdExtType_TaxWriteCode" />
      <xs:element minOccurs="0" name="ToAmount" nillable="true" type="st:AxdExtType_MarkupToAmount" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="TransRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="TransTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_TransTxt" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="st:AxdExtType_MarkupValue" />
      <xs:element minOccurs="0" name="VATDocumentType_RU" nillable="true" type="st:AxdEnum_PurchBookVATDocumentType_Invoice_RU" />
      <xs:element minOccurs="0" name="Voucher" nillable="true" type="st:AxdExtType_Voucher" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_PaymTerm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="PaymMethod" nillable="true" type="st:AxdExtType_PaymMethod" />
      <xs:element minOccurs="1" name="PaymTermId" type="st:AxdExtType_PaymTermId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DlvModeTable">
    <xs:sequence>
      <xs:element minOccurs="1" name="Code" type="st:AxdUnion_AxdExtType_DlvModeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_Description" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DlvTermTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="1" name="Code" type="st:AxdExtType_DlvTermId" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_Description" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_LogisticsPostalAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="st:AxdExtType_Addressing" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>