src/RequisicaoAX.Dynamics.Services/Connected Services/Purch/PurchRFQ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvMode" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd12" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvTerm" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd14" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/MarkupMarkupTable" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd16" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQPaymTerms" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd17" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd18" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQUnit" />
  <xs:element name="DlvDlvModeServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q1:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q2:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q3:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q4:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q5:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q6:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q7:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvMode" minOccurs="0" ref="q8:DlvDlvMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q9:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvModeServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvMode" minOccurs="0" ref="q10:DlvDlvMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q11:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvTerm" minOccurs="0" ref="q12:DlvDlvTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q13:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q14:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q15:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q16:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q17:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q18:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q19:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DlvDlvTermServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvTerm" minOccurs="0" ref="q20:DlvDlvTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q21:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q22:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q23:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/dynamics/2008/01/documents/MarkupMarkupTable" minOccurs="0" ref="q24:MarkupMarkupTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q25:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q26:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q27:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/dynamics/2008/01/documents/MarkupMarkupTable" minOccurs="0" ref="q28:MarkupMarkupTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q29:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupMarkupTableServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q30:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q31:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q32:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q33:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQPaymTerms" minOccurs="0" ref="q34:PurchRFQPaymTerms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q35:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQPaymTerms" minOccurs="0" ref="q36:PurchRFQPaymTerms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q37:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q38:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q39:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQPaymTermsServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q40:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q41:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q42:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q43:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q44:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q45:EntityKeyList" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" minOccurs="0" ref="q46:PurchRFQSites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" minOccurs="0" ref="q47:PurchRFQSites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q48:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q49:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" minOccurs="0" ref="q50:PurchRFQSites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q51:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQSites" minOccurs="0" ref="q52:PurchRFQSites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q53:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQSitesServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q54:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q55:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q56:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q57:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q58:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q59:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQUnit" minOccurs="0" ref="q60:PurchRFQUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q61:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q62:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q63:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchRFQUnitServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchRFQUnit" minOccurs="0" ref="q64:PurchRFQUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>