src/RequisicaoAX.Dynamics.Services/Connected Services/Purch/PurchRFQ9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvMode" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/DlvDlvMode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="DlvDlvMode" type="tns:AxdDlvDlvMode" />
  <xs:complexType name="AxdDlvDlvMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DlvMode" type="tns:AxdEntity_DlvMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_DlvMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="1" name="Code" type="st:AxdExtType_DlvModeId" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="ShipCarrierDlvType" nillable="true" type="st:AxdEnum_ShipCarrierDlvType" />
      <xs:element minOccurs="0" name="ShipCarrierId" nillable="true" type="st:AxdExtType_ShipCarrierId" />
      <xs:element minOccurs="0" name="ShipCarrierName" nillable="true" type="st:AxdExtType_ShipCarrierName" />
      <xs:element minOccurs="0" name="MarkupGroup" nillable="true" type="st:AxdExtType_DeliveryMarkupGroupId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>