src/RequisicaoAX.Dynamics/Connected Services/Purch/PurchRFQ212.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd13" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/LedgerCurrency" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd15" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchReqImport" />
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
  <xs:element name="CurrencyServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q1:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q2:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q3:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/LedgerCurrency" minOccurs="0" ref="q4:LedgerCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q5:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q6:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q7:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/LedgerCurrency" minOccurs="0" ref="q8:LedgerCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q9:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q10:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q11:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchReqImport" minOccurs="0" ref="q12:PurchReqImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q13:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchReqImport" minOccurs="0" ref="q14:PurchReqImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceGetChangedKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q15:DocumentPaging" />
        <xs:element minOccurs="0" name="_changedDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceGetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q16:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceGetKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" minOccurs="0" ref="q17:DocumentPaging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" minOccurs="0" ref="q18:EntityKeyPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchReqImport" minOccurs="0" ref="q19:PurchReqImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q20:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceCancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" minOccurs="0" ref="q21:EntityKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceCancelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q22:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q23:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchReqImportServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q24:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>