src/RequisicaoAX.Dynamics/Connected Services/Purch/PurchRFQ4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchReqImport" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchReqImport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saxdev:8101/DynamicsAx/Services/PurchRFQ?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="PurchReqImport" type="tns:AxdPurchReqImport" />
  <xs:complexType name="AxdPurchReqImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchReqTable" type="tns:AxdEntity_PurchReqTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_PurchReqTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="AutoSubmitToWorkflowRequired" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="BusinessJustificationDescription" nillable="true" type="st:AxdExtType_JustificationDescription" />
      <xs:element minOccurs="0" name="ExternalSourceID" nillable="true" type="st:AxdExtType_PurchReqExternalSourceID" />
      <xs:element minOccurs="0" name="ExternalSourceName" nillable="true" type="st:AxdExtType_PurchReqExternalSourceName" />
      <xs:element minOccurs="0" name="Originator" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="0" name="ProjId" nillable="true" type="st:AxdExtType_ProjId" />
      <xs:element minOccurs="1" name="PurchReqId" type="st:AxdExtType_PurchReqId" />
      <xs:element minOccurs="1" name="PurchReqName" type="st:AxdExtType_PurchReqName" />
      <xs:element minOccurs="0" name="RequiredDate" nillable="true" type="st:AxdExtType_PurchReqRequiredDate" />
      <xs:element minOccurs="0" name="RequisitionStatus" nillable="true" type="st:AxdEnum_PurchReqRequisitionStatus" />
      <xs:element minOccurs="0" name="SourceDocumentLine" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="1" name="StatusToBeSaved" type="st:AxdEnum_PurchReqCreationStatus" />
      <xs:element minOccurs="0" name="SubmittedBy" nillable="true" type="st:AxdExtType_PurchReqSubmittedBy" />
      <xs:element minOccurs="0" name="SubmittedDateTime" nillable="true" type="st:AxdExtType_PurchReqSubmittedDateTime" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchReqLine" type="tns:AxdEntity_PurchReqLine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeaderBusJustDetails" type="tns:AxdEntity_HeaderBusJustDetails" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchReqExternalSource" type="tns:AxdEntity_PurchReqExternalSource" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_PurchReqLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityNumber" nillable="true" type="st:AxdExtType_ProjActivityNumber" />
      <xs:element minOccurs="0" name="AssetGroup" nillable="true" type="st:AxdExtType_AssetGroupId" />
      <xs:element minOccurs="0" name="Attention" nillable="true" type="st:AxdExtType_PurchReqAttention" />
      <xs:element minOccurs="0" name="BusinessJustificationDescription" nillable="true" type="st:AxdExtType_JustificationDescription" />
      <xs:element minOccurs="1" name="BuyingLegalEntity" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="BuyingLegalEntityDataArea" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DeliveryName" nillable="true" type="st:AxdExtType_Name" />
      <xs:element minOccurs="0" name="DeliveryPostalAddress" nillable="true" type="st:AxdEntityKey_LogisticsPostalAddress" />
      <xs:element minOccurs="0" name="ExternalItemId" nillable="true" type="st:AxdExtType_PurchExternalItemId" />
      <xs:element minOccurs="0" name="InclTax" nillable="true" type="st:AxdExtType_InclTax" />
      <xs:element minOccurs="0" name="InventLocationId" nillable="true" type="st:AxdExtType_PurchInventLocationId" />
      <xs:element minOccurs="0" name="IsPrepayment" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="st:AxdUnion_AxdExtType_ItemIdSmall_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="ItemIdNonCatalog" nillable="true" type="st:AxdUnion_AxdExtType_PurchReqItemIdNonCatalog_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="LineAmount" nillable="true" type="st:AxdExtType_PurchLineAmount" />
      <xs:element minOccurs="0" name="LineDisc" nillable="true" type="st:AxdExtType_PurchLineDisc" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="LinePercent" nillable="true" type="st:AxdExtType_PurchLinePercent" />
      <xs:element minOccurs="0" name="LineType" nillable="true" type="st:AxdEnum_PurchReqLineType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_ItemFreeTxt" />
      <xs:element minOccurs="0" name="PrePaymentDetails" nillable="true" type="st:AxdExtType_PurchReqLinePrePaymentDetails" />
      <xs:element minOccurs="0" name="PriceUnit" nillable="true" type="st:AxdExtType_PriceUnit" />
      <xs:element minOccurs="0" name="ProcurementCategory" nillable="true" type="st:AxdEntityKey_EcoResCategory" />
      <xs:element minOccurs="0" name="ProjCategoryId" nillable="true" type="st:AxdExtType_ProjCategoryId" />
      <xs:element minOccurs="0" name="ProjId" nillable="true" type="st:AxdExtType_ProjId" />
      <xs:element minOccurs="0" name="ProjLinePropertyId" nillable="true" type="st:AxdExtType_ProjLinePropertyId" />
      <xs:element minOccurs="0" name="ProjSalesCurrencyId" nillable="true" type="st:AxdExtType_CurrencyCode" />
      <xs:element minOccurs="0" name="ProjSalesPrice" nillable="true" type="st:AxdExtType_ProjSalesPriceCost" />
      <xs:element minOccurs="0" name="ProjSalesUnitOfMeasure" nillable="true" type="st:AxdExtType_UnitOfMeasureSymbol" />
      <xs:element minOccurs="0" name="ProjTaxGroupId" nillable="true" type="st:AxdExtType_ProjTaxGroup" />
      <xs:element minOccurs="0" name="ProjTaxItemGroupId" nillable="true" type="st:AxdExtType_ProjTaxItemGroup" />
      <xs:element minOccurs="0" name="ProjTransId" nillable="true" type="st:AxdExtType_ProjItemTransId" />
      <xs:element minOccurs="0" name="PurchAgreement" nillable="true" type="st:AxdEntityKey_AgreementLine" />
      <xs:element minOccurs="0" name="PurchId" nillable="true" type="st:AxdExtType_PurchId" />
      <xs:element minOccurs="0" name="PurchMarkup" nillable="true" type="st:AxdExtType_PurchMarkup" />
      <xs:element minOccurs="0" name="PurchPrice" nillable="true" type="st:AxdExtType_PurchPrice" />
      <xs:element minOccurs="0" name="PurchQty" nillable="true" type="st:AxdExtType_PurchOrderedQty" />
      <xs:element minOccurs="0" name="PurchReqConsolidationStatus" nillable="true" type="st:AxdEnum_PurchReqConsolidationStatus" />
      <xs:element minOccurs="0" name="PurchRFQCaseId" nillable="true" type="st:AxdExtType_PurchRFQCaseId" />
      <xs:element minOccurs="1" name="PurchUnitOfMeasure" type="st:AxdExtType_UnitOfMeasureSymbol" />
      <xs:element minOccurs="0" name="ReceivingOperatingUnit" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="RequiredDate" nillable="true" type="st:AxdExtType_PurchReqRequiredDate" />
      <xs:element minOccurs="1" name="Requisitioner" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="0" name="RequisitionStatus" nillable="true" type="st:AxdEnum_PurchReqRequisitionStatus" />
      <xs:element minOccurs="0" name="RFQCaseId" nillable="true" type="st:AxdExtType_PurchRFQCaseId" />
      <xs:element minOccurs="0" name="RFQRequirement" nillable="true" type="st:AxdEnum_PurchReqRFQRequirement" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="st:AxdExtType_URL" />
      <xs:element minOccurs="0" name="VendAccount" nillable="true" type="st:AxdUnion_AxdExtType_VendAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="VendQuoteNumber" nillable="true" type="st:AxdExtType_VendQuoteNumber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventDim" type="tns:AxdEntity_InventDim" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineBusJustDetails" type="tns:AxdEntity_LineBusJustDetails" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkupTrans" type="tns:AxdEntity_MarkupTrans" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineSrcDocLine" type="tns:AxdEntity_LineSrcDocLine" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_InventDim">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigId" nillable="true" type="st:AxdExtType_EcoResItemConfigurationName" />
      <xs:element minOccurs="0" name="InventBatchId" nillable="true" type="st:AxdExtType_InventBatchId" />
      <xs:element minOccurs="0" name="InventColorId" nillable="true" type="st:AxdExtType_EcoResItemColorName" />
      <xs:element minOccurs="0" name="InventLocationId" nillable="true" type="st:AxdExtType_InventLocationId" />
      <xs:element minOccurs="0" name="InventSerialId" nillable="true" type="st:AxdExtType_InventSerialId" />
      <xs:element minOccurs="0" name="InventSiteId" nillable="true" type="st:AxdExtType_InventSiteId" />
      <xs:element minOccurs="0" name="InventSizeId" nillable="true" type="st:AxdExtType_EcoResItemSizeName" />
      <xs:element minOccurs="0" name="InventStyleId" nillable="true" type="st:AxdExtType_EcoResItemStyleName" />
      <xs:element minOccurs="0" name="WMSLocationId" nillable="true" type="st:AxdExtType_WMSLocationId" />
      <xs:element minOccurs="0" name="WMSPalletId" nillable="true" type="st:AxdExtType_WMSPalletId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_LineBusJustDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessJustification" nillable="true" type="st:AxdExtType_PurchReqBusinessJustification" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkupTrans">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculatedAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="ChargeIndicatorEinvoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="InterCompanyCompanyId" nillable="true" type="st:AxdExtType_InterCompanyCompanyId" />
      <xs:element minOccurs="0" name="InterCompanyInvoiceId" nillable="true" type="st:AxdExtType_InterCompanyInvoiceId" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="MarkupCategory" nillable="true" type="st:AxdExtType_MarkupCategoryType" />
      <xs:element minOccurs="1" name="MarkupCode" type="st:AxdUnion_AxdExtType_MarkupCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Posted" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_TransTxt" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="st:AxdExtType_MarkupValue" />
      <xs:element minOccurs="0" name="Voucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkUpSrcDocLine" type="tns:AxdEntity_MarkUpSrcDocLine" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkUpSrcDocLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingStatus" nillable="true" type="st:AxdEnum_SourceDocumentLineAccountingStatus" />
      <xs:element minOccurs="0" name="IsFinal" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="ParentSourceDocumentLine" nillable="true" type="st:AxdExtType_SourceDocumentLineRecId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="SourceDocumentHeader" nillable="true" type="st:AxdExtType_SourceDocumentHeaderRecId" />
      <xs:element minOccurs="1" name="SourceRelationType" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="TermQuantity" nillable="true" type="st:AxdExtType_Qty" />
      <xs:element minOccurs="0" name="TypeEnumName" nillable="true" type="st:AxdExtType_EnumName" />
      <xs:element minOccurs="0" name="TypeEnumValue" nillable="true" type="st:AxdExtType_SourceDocumentTypeEnumValue" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkUpSrcDocDist" type="tns:AxdEntity_MarkUpSrcDocDist" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_MarkUpSrcDocDist">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingDate" nillable="true" type="st:AxdExtType_AccountingDate" />
      <xs:element minOccurs="0" name="AccountingEvent" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="AccountingLegalEntity" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="AmountSource" nillable="true" type="st:AxdEnum_DistributionAmountSource" />
      <xs:element minOccurs="0" name="FinalizeAccountingEvent" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="LedgerDimension" nillable="true" type="st:AxdType_LedgerAccount" />
      <xs:element minOccurs="0" name="MonetaryAmount" nillable="true" type="st:AxdEnum_MonetaryAmount" />
      <xs:element minOccurs="0" name="MonetaryAmountType" nillable="true" type="st:AxdEnum_MonetaryAmount" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="st:AxdExtType_AccountingDistributionNumber" />
      <xs:element minOccurs="0" name="ParentDistribution" nillable="true" type="st:AxdEntityKey_AccountingDistribution" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="ReferenceDistribution" nillable="true" type="st:AxdEntityKey_AccountingDistribution" />
      <xs:element minOccurs="0" name="ReferenceRole" nillable="true" type="st:AxdEnum_AccountingDistributionReferenceRole" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="st:AxdEnum_ReferenceDistributionRole" />
      <xs:element minOccurs="0" name="SourceDocumentHeader" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="SourceDocumentLine" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="TransactionCurrency" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="TransactionCurrencyAmount" nillable="true" type="st:AxdExtType_Amount" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="st:AxdEnum_AccountRole" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_LineSrcDocLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingStatus" nillable="true" type="st:AxdEnum_SourceDocumentLineAccountingStatus" />
      <xs:element minOccurs="0" name="IsFinal" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="ParentSourceDocumentLine" nillable="true" type="st:AxdExtType_SourceDocumentLineRecId" />
      <xs:element minOccurs="0" name="SourceDocumentHeader" nillable="true" type="st:AxdExtType_SourceDocumentHeaderRecId" />
      <xs:element minOccurs="1" name="SourceRelationType" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="TypeEnumName" nillable="true" type="st:AxdExtType_EnumName" />
      <xs:element minOccurs="0" name="TypeEnumValue" nillable="true" type="st:AxdExtType_SourceDocumentTypeEnumValue" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineSrcDocDist" type="tns:AxdEntity_LineSrcDocDist" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_LineSrcDocDist">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingDate" nillable="true" type="st:AxdExtType_AccountingDate" />
      <xs:element minOccurs="0" name="AccountingEvent" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="AccountingLegalEntity" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="AmountSource" nillable="true" type="st:AxdEnum_DistributionAmountSource" />
      <xs:element minOccurs="0" name="FinalizeAccountingEvent" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="LedgerDimension" nillable="true" type="st:AxdType_LedgerAccount" />
      <xs:element minOccurs="0" name="MonetaryAmount" nillable="true" type="st:AxdEnum_MonetaryAmount" />
      <xs:element minOccurs="0" name="MonetaryAmountType" nillable="true" type="st:AxdEnum_MonetaryAmount" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="st:AxdExtType_AccountingDistributionNumber" />
      <xs:element minOccurs="0" name="ParentDistribution" nillable="true" type="st:AxdEntityKey_AccountingDistribution" />
      <xs:element minOccurs="0" name="ReferenceDistribution" nillable="true" type="st:AxdEntityKey_AccountingDistribution" />
      <xs:element minOccurs="0" name="ReferenceRole" nillable="true" type="st:AxdEnum_AccountingDistributionReferenceRole" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="st:AxdEnum_ReferenceDistributionRole" />
      <xs:element minOccurs="0" name="SourceDocumentLine" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="TransactionCurrency" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="TransactionCurrencyAmount" nillable="true" type="st:AxdExtType_Amount" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="st:AxdEnum_AccountRole" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjAccountingDist" type="tns:AxdEntity_ProjAccountingDist" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_ProjAccountingDist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityNumber" nillable="true" type="st:AxdExtType_ProjActivityNumber" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="st:AxdExtType_ProjCategoryId" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="LinePropertyId" nillable="true" type="st:AxdExtType_ProjId" />
      <xs:element minOccurs="0" name="ProjCategory" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ProjFundingSource" nillable="true" type="st:AxdEntityKey_ProjFundingSource" />
      <xs:element minOccurs="0" name="ProjId" nillable="true" type="st:AxdExtType_ProjId" />
      <xs:element minOccurs="0" name="ProjItemTransCost" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ProjLineProperty" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ProjTable" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="SmmActivities" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="TaxGroupHeading" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="TaxGroupId" nillable="true" type="st:AxdExtType_ProjTaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroupHeading" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="TaxItemGroupId" nillable="true" type="st:AxdExtType_ProjTaxItemGroup" />
      <xs:element minOccurs="0" name="TransactionCurrencyAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="TransactionCurrencyPrice" nillable="true" type="st:AxdExtType_PriceCur" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_HeaderBusJustDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessJustification" nillable="true" type="st:AxdExtType_PurchReqBusinessJustification" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_PurchReqExternalSource">
    <xs:sequence>
      <xs:element minOccurs="1" name="ExternalSourceID" type="st:AxdExtType_PurchReqExternalSourceID" />
      <xs:element minOccurs="1" name="ExternalSourceName" type="st:AxdExtType_PurchReqExternalSourceName" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>